/*Reseting some stiles*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Header*/

.main-nav {
    margin-top: 10px;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: aliceblue;
    padding: 5px;
    border-radius: 2px;
}

/*Pseudo clases
Se llaman con :
Describe un estado
*/

.main-nav__item a:hover {
    color: black;
}

.main-nav__item a:active {
    color: red;
}

/* Pseudo Elementos 
Se llaman con ::
Describe un elemento
*/ 

.main-nav__item a::after {
    content: " | ";
}